header {
  padding: 2.5rem 4%;
  background-color: var(--cor-g04);
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  transition: ease-in-out 0.3s;
}

header .logo a {
  padding: 0;
}

header .logo:hover {
  transform: scale(1.1);
}

#menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

#menu ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

#menu ul li {
  font-size: 1.2rem;
}

#menu a {
  display: inline-block;
  position: relative;
  color: #9c9c9c;
  text-decoration: none;
  padding: 0.5rem 0;
}

#menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-g00);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

#menu a:hover::after {
  width: 100%;
}

#menu .contato-destaque {
  color: var(--cor-p1);
}

#menu .contato-destaque::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: var(--cor-p1);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

#menu .contato-destaque:hover {
  transform: scale(1.05); /* Pequeno efeito de zoom no hover */
  transition: all 0.3s ease;
}

@media (max-width: 1100px) {
  header {
    padding: 2.5rem 4% 0 4%;
  }

  header .container {
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
}

@media (max-width: 550px) {
  header .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
