.projetos {
  padding: 4.5rem 4%;
  border-bottom: 1px solid var(--cor-p3);
  background-color: var(--cor-g04);
}

.projetos .container {
  flex-direction: column;
}

.projetos .box-projetos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 40px;
}

.box-projetos .img-projeto:nth-child(1) {
  background-image: url(../imgs/bikcraft.webp);
}

.box-projetos .img-projeto:nth-child(2) {
  background-image: url(../imgs/canesfit.webp);
}

.box-projetos .img-projeto:nth-child(3) {
  background-image: url(../imgs/surfnat.webp);
}

.box-projetos .img-projeto:nth-child(4) {
  background-image: url(../imgs/wildbeast.webp);
}

.img-projeto {
  box-shadow: 0 0 3px var(--cor-p1);
  height: 500px;
  background-size: cover;
  background-position: 100% 0%;
  transition: 5s;
  border-radius: 5px;
  position: relative;
}

.img-projeto:hover {
  background-position: 100% 100%;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  opacity: 0;
  transition: 0.5s;
}

.overlay a {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-g00);
  text-decoration: none;
}

.overlay a:hover {
  font-weight: bold;
  color: var(--cor-p1);
}

.overlay:hover {
  opacity: 1;
}

.projetos .btn-contato {
  display: block;
  margin: 55px auto;
  text-align: center;
}

.projetos .btn-contato i {
  margin-left: 5px;
}

@media (max-width: 1100px) {
  .projetos .container {
    align-items: normal;
  }
}

@media (max-width: 550px) {
  section.projetos .box-projetos {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .img-projeto {
    height: 300px;
  }
}
