:root {
  --cor-p1: #44e868;
  --cor-p2: #18b549;
  --cor-p3: #1e751b;

  --cor-g05: #000000;
  --cor-g04: #0e0e0e;
  --cor-g03: #242424;
  --cor-g02: #757572;
  --cor-g01: #9c9c9c;
  --cor-g00: #ffffff;
}
