section.formulario {
  padding: 40px 4%;
}

section.formulario .container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}

.img-formulario img {
  max-width: 100%;
}

.txt-formulario {
  min-width: 100%;
  margin-top: 50px;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

form input,
form textarea {
  width: 100%;
  background-color: #242424;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 1.125rem;
}

form textarea {
  resize: none;
  max-height: 150px;
}

form .btn-enviar {
  margin-top: 20px;
}

form .btn-enviar input[type="submit"] {
  padding: 10px 20px;
  border-radius: 40px;
  width: 120px;
  background-color: #44e868;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

div.box-fale-comigo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.box-fale-comigo h2 {
  margin-bottom: 5px;
  text-align: center;
}

.box-fale-comigo a + a {
  margin-left: 5px;
}

.box-fale-comigo p,
a {
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
}