section.inicio {
  padding: 4.5rem 4%;
  background-color: #0e0e0e;
  border-bottom: 1px solid #1e751b;
}

section.inicio .container {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.inicio .txt-inicio h1 {
  color: #fff;
  font-size: 4.5rem;
  line-height: 5rem;
  max-width: 30ch;
}

.inicio .txt-inicio h1 span {
  color: #44e868;
}

.inicio .txt-inicio p {
  color: #9c9c9c;
  line-height: calc(1rem * 1.5);
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 50ch;
}

.inicio .txt-inicio .btn-social {
  margin-top: 35px;
}

.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #44e868;
  font-size: 1.375rem;
  cursor: pointer;
  transition: 0.2s;
}

.inicio .txt-inicio .btn-social a + a {
  margin-left: 15px;
}

.inicio .img-inicio img {
  max-width: 100%;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0px;
  }
  100% {
    top: 30px;
  }
}
