@media (max-width: 1100px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  header {
    padding: 2.5rem 4% 0 4%;
  }

  header .container {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .btn-abrir-menu-mobile {
    display: block;
  }

  h2.titulo {
    margin-top: 0;
  }

  section.inicio {
    margin-top: 0;
  }

  div.txt-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .inicio .img-inicio img {
    width: 100%;
    max-width: 400px;
  }

  .inicio .txt-inicio h1 {
    color: #fff;
    font-size: 48px;
    line-height: 60px;
    max-width: 20ch;
  }

  .formacao .img-formacao img {
    display: none;
  }

  div.box-fale-comigo {
    margin-bottom: 40px;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 0.8rem;
  }

  header .menu-desktop,
  .btn-contato {
    display: none;
  }

  header .container {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .btn-abrir-menu-mobile i {
    color: #44e868;
    font-size: 45px;
  }

  .inicio .txt-inicio p {
    margin-bottom: 0;
  }

  .btn-social button {
    width: 40px;
    height: 40px;
  }

  section.formacao {
    margin: 0;
  }

  section.formacao .container {
    gap: 0px;
  }

  section.projetos .box-projetos {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .img-projeto {
    height: 300px;
  }
}
